<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dojo/dom.byId</title>
</head>
<body>
<h1>Summary</h1>
<p>
    Returns DOM node with matching `id` attribute or falsy value (ex: null or undefined) if not found.  If `id` is a DomNode, this function is a no-op.
</p>
<h2>Params</h2>
<h3>id: String|DOMNode</h3>
A string to match an HTML id attribute or a reference to a DOM Node
<h3>doc: Document?</h3>
Document to work in. Defaults to the current value of dojo/_base/window.doc.  Can be used to retrieve node references from other documents.
<h2>Example</h2>
<span>Look up a node by ID:</span>
<pre>
    &lt;h1 id="greeting"&gt;Hello&lt;/h1&gt; <br/>
    require(['dojo/dom'], function (dom) { <br/>
        dom.byId('greeting'); <br/>
    })
</pre>
</p>

</body>

</html>